
<div class="container">
    <div class="row mt-5 mb-5 justify-content-center">
        <div class="col-sm-8 pt-5 pb-5">
        
            <h1>Hoy Hay Fútbol</h1>

            <h2>Quiénes somos</h2>
            <p>Hoy Hay Fútbol es una aplicación Web que está diseñado para crear un espacio de reunión a la comunidad del fútbol amateur.</p>
            <img src="img/cancha.jpg" class="img-fluid mx-auto d-block mt-5 mb-5">

            <h2>Nuestra misión</h2>

            <p>Nuestra misión consiste en promover el deporte y reunir a toda la comunidad del fútbol amateur. La visión es ser el principal    medio de comunicación para los apasionados.</p>

            <h2>Podes organizar tus partidos, crear citaciones y desafios e invitar amigos </h2>
            <p>Además:
                <ul>
                    <li>
                        Creá partidos, filtralos por tu barrio o ubicación, armar citaciones, responde solicitudes.
                    </li>

                    <li>
                        Buscá a tus amigos, agregalos, armá grupos y chateá con quien quieras para ultimar detalles del partido.
                    </li>

                    <li>
                        Calificá a los jugadores y al organizador después de cada partido.
                    </li>

                    <li>
                        Si tenes un equipo, creá un desafio y elegí un rival.
                    </li>
                </ul>
            </p>
            
        </div>
    </div>
</div>